In [18]:
import pandas as pd
df = pd.Series([('Adventure', 'Drama', 'Fantasy'), ('Comedy', 'Family'), ('Drama', 'Comedy', 'Romance'), 
                (['Drama']), 
                    (['Documentary']), 
                ('Adventure', 'Biography', 'Drama', 'Thriller')]).to_frame(name='genre')

In [19]:
df

                                     genre
0              (Adventure, Drama, Fantasy)
1                         (Comedy, Family)
2                 (Drama, Comedy, Romance)
3                                  [Drama]
4                            [Documentary]
5  (Adventure, Biography, Drama, Thriller)

In [20]:
df['genre'].apply(lambda x: pd.Series(str(x).split(',')))

                 0             1            2             3
0     ('Adventure'       'Drama'   'Fantasy')           NaN
1        ('Comedy'     'Family')          NaN           NaN
2         ('Drama'      'Comedy'   'Romance')           NaN
3        ['Drama']           NaN          NaN           NaN
4  ['Documentary']           NaN          NaN           NaN
5     ('Adventure'   'Biography'      'Drama'   'Thriller')