In [14]:
import pandas as pd 
import numpy as np
import random
df = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

In [80]:
n, p = 5, 3
data = np.random.rand(n, p)
k = 2
names = np.array([random.choice(['A', 'B', 'C', 'D', 'E', 'F']) for i in range(n*k)]).reshape(n, k)

In [81]:
df = pd.DataFrame(np.hstack([names, data]))

In [82]:
# np.stack adds one more dimension. But np.vstack an np.hstack do not

In [83]:
df.columns = ["state", "store"] + ['d_%s'%i for i in range(p)]

In [84]:
df

  state store                  d_0                  d_1                  d_2
0     E     F   0.1794631086725752   0.2845573298526922  0.21705050096765388
1     C     B   0.3935701151304827   0.7237758719921481  0.07999542373125845
2     D     E  0.21383864853388734    0.542350822778883   0.4014263935073762
3     A     F   0.5618474185034803   0.5104726040268559   0.9444946687485795
4     C     D   0.2653928003996858  0.01706439250328584   0.6007123440697737

In [85]:
df_stack = df.set_index(['state', 'store']).stack().reset_index().rename(columns={'level_2': "day", 0:"value"})

In [86]:
df_stack.head(n=3)

  state store  day                value
0     E     F  d_0   0.1794631086725752
1     E     F  d_1   0.2845573298526922
2     E     F  d_2  0.21705050096765388

In [88]:
df_re_index = df_stack.set_index(["state", "store"])

In [90]:
df_re_index.ix[df_re_index.index.unique()]

/home/wxk/.conda/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

             day                value
state store
E     F      d_0   0.1794631086725752
      F      d_1   0.2845573298526922
      F      d_2  0.21705050096765388
C     B      d_0   0.3935701151304827
      B      d_1   0.7237758719921481
      B      d_2  0.07999542373125845
D     E      d_0  0.21383864853388734
      E      d_1    0.542350822778883
      E      d_2   0.4014263935073762
A     F      d_0   0.5618474185034803
      F      d_1   0.5104726040268559
      F      d_2   0.9444946687485795
C     D      d_0   0.2653928003996858
      D      d_1  0.01706439250328584
      D      d_2   0.6007123440697737