# source: http://stackoverflow.com/questions/26812763/applying-a-custom-groupby-aggregate-function-to-output-a-binary-outcome-in-panda

In [2]:
import pandas as pd

In [3]:
 df1 = pd.DataFrame({'Trader':['A','A','B','B','B','C','C','C'], 'Buy/Sell':['1', '0', '1','1','0','1','0','0']})

In [4]:
df1

  Buy/Sell Trader
0        1      A
1        0      A
2        1      B
3        1      B
4        0      B
5        1      C
6        0      C
7        0      C

In [29]:
def categorize(x):
    m = x.mean()
    return 1 if m > 0.5 else 0 if m < 0.5 else np.nan
result = df1.groupby(['Trader'])['Buy/Sell'].agg([categorize, 'sum', 'count'])

In [30]:
result

        categorize  sum  count
Trader
A                1   10      2
B                1  110      3
C                1  100      3

In [5]:
import io
import numpy as np
import pandas as pd

content = '''Trader     Buy/Sell
  A           1
  A           0
  B           1
  B           1
  B           0
  C           1
  C           0
  C           0'''

df2 = pd.read_table(io.BytesIO(content), sep='\s+')

In [6]:
df2

  Trader  Buy/Sell
0      A         1
1      A         0
2      B         1
3      B         1
4      B         0
5      C         1
6      C         0
7      C         0

In [9]:
grouped_df = df1.groupby(['Trader'])['Buy/Sell']

for key, item in grouped_df:
    print grouped_df.get_group(key), "\n\n"

0    1
1    0
Name: Buy/Sell, dtype: object


2    1
3    1
4    0
Name: Buy/Sell, dtype: object


5    1
6    0
7    0
Name: Buy/Sell, dtype: object

In [27]:
grouped = df2.groupby(['Trader']).groups
for key, in grouped:
    print key, grouped[key]

A [0, 1]
C [5, 6, 7]
B [2, 3, 4]

In [25]:
grouped.keys()

['A', 'C', 'B']

In [10]:
print df2
print df1

  Trader  Buy/Sell
0      A         1
1      A         0
2      B         1
3      B         1
4      B         0
5      C         1
6      C         0
7      C         0
  Buy/Sell Trader
0        1      A
1        0      A
2        1      B
3        1      B
4        0      B
5        1      C
6        0      C
7        0      C

In [12]:

def categorize(x):
    m = x.mean()
    return 1 if m > 0.5 else 0 if m < 0.5 else np.nan
result = df2.groupby(['Trader'])['Buy/Sell'].agg([categorize, 'sum', 'count'])
result = result.rename(columns={'categorize' : 'Buy/Sell'})
print(result)

        Buy/Sell  sum  count
Trader
A            NaN    1      2
B            1.0    2      3
C            0.0    1      3

In [29]:
df2.groupby(['Trader'])['Buy/Sell'].agg("sum")

Trader
A    1
B    2
C    1
Name: Buy/Sell, dtype: int64

In [30]:
sum([1,2,3])

6