In [1]:
import numpy as np
import pandas as pd


x = np.random.randn(3, 2)
df = pd.DataFrame(x,columns = ['A','B'],index= ['a','b','c'])

In [3]:
df['new'] = ['aa','bb','cc']
df

          A         B new
a -0.437764  1.124980  aa
b -0.253071 -1.614744  bb
c  0.959500  0.338294  cc

In [5]:
df.set_index('new',inplace = True)

In [6]:
df

            A         B
new
aa  -0.437764  1.124980
bb  -0.253071 -1.614744
cc   0.959500  0.338294