In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.rand(4,5), columns = list('abcde'))
df

          a         b         c         d         e
0  0.058117  0.326611  0.243809  0.577092  0.861918
1  0.429253  0.627828  0.223530  0.268621  0.736902
2  0.272002  0.897246  0.506113  0.173110  0.960691
3  0.352155  0.911296  0.889372  0.663415  0.085974

In [7]:
import itertools
labels =df.columns
combs = list(itertools.combinations(labels, 2))

In [10]:
combs

[('a', 'b'),
 ('a', 'c'),
 ('a', 'd'),
 ('a', 'e'),
 ('b', 'c'),
 ('b', 'd'),
 ('b', 'e'),
 ('c', 'd'),
 ('c', 'e'),
 ('d', 'e')]

In [8]:
def freq(comb):
   return sum([1 if x>0.5 and y>0.5 else 0 for x,y in zip(df[comb[0]], df[comb[1]])])

In [15]:
out = pd.DataFrame(map(freq,combs)).T
out.columns=[comb[0]+comb[1] for comb in combs]

In [16]:
out

   ab  ac  ad  ae  bc  bd  be  cd  ce  de
0   0   0   0   0   2   1   2   1   1   1