In [73]:
# group a data.frame according to two columns ['A','B']
# Index each group: 
   index = df.groupby(['A','B']).groups
   labels=index.keys()
   db.loc[index[labels[0]]]
    
# group.apply(myfunction,axis=0) 
# axis=0 means apply to columns; axis=1 to rows
# store the analyis

IndentationError: unexpected indent (<ipython-input-73-273c7ccc8c15>, line 3)

In [74]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'one', 'one',
                         'one', 'one', 'one', 'one'],
                'C' : np.random.randn(8), 'D' : np.random.randn(8)})

In [75]:
index = df.groupby(['A','B']).groups
print index

{('foo', 'one'): [0, 2, 4, 6, 7], ('bar', 'one'): [1, 3, 5]}

In [76]:
labels = index.keys()

In [77]:
def myfunction(nums):
    return float(sum(x>0 for x in nums))/len(nums)

In [78]:
statistics = pd.DataFrame()

In [79]:
for i in range(len(labels)):
  group = df.loc[index[labels[i]]]
  out=group.apply(myfunction, axis=0)
  statistics[labels[i][0]]=out

In [80]:
statistics

   foo       bar
A  1.0  1.000000
B  1.0  1.000000
C  0.2  0.000000
D  0.4  0.666667

In [83]:
# The columns used by groupby are not included
res = df.groupby(['A','B']).agg(myfunction)
res

           C         D
A   B
bar one  0.0  0.666667
foo one  0.2  0.400000

In [86]:
res.columns

Index([u'C', u'D'], dtype='object')

In [87]:
res['C']

A    B
bar  one    0.0
foo  one    0.2
Name: C, dtype: float64

In [89]:
res.values

array([[ 0.        ,  0.66666667],
       [ 0.2       ,  0.4       ]])