In [1]:
import numpy as np
import pandas as pd

In [ ]:
# source: http://nbviewer.jupyter.org/github/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/03.08-Aggregation-and-Grouping.ipynb

In [8]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'A', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

In [9]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   A      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [4]:
def filter_func(x):
    return x['data2'].std() > 4

df.groupby('key').filter(filter_func)

  key  data1  data2
1   B      1      0
2   C      2      3
4   B      4      7
5   C      5      9

In [11]:
df.shape

(6, 3)

In [ ]:
# 找出出现三次以上的samples

In [12]:
def filter_func(x):
    return x.shape[0] > 2

df.groupby('key').filter(filter_func)

  key  data1  data2
0   A      0      5
2   A      2      3
3   A      3      3