In [73]:
# group a data.frame according to two columns ['A','B']
# Index each group: 
   index = df.groupby(['A','B']).groups
   labels=index.keys()
   db.loc[index[labels[0]]]
    
# group.apply(myfunction,axis=0) 
# axis=0 means apply to columns; axis=1 to rows
# store the analyis

IndentationError: unexpected indent (<ipython-input-73-273c7ccc8c15>, line 3)

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'one', 'one',
                         'one', 'one', 'one', 'one'],
                'C' : np.random.randn(8), 'D' : np.random.randn(8)})

In [2]:
index = df.groupby(['A','B']).groups
print index

{('foo', 'one'): [0, 2, 4, 6, 7], ('bar', 'one'): [1, 3, 5]}

In [3]:
labels = index.keys()

In [4]:
def myfunction(nums):
    return float(sum(x>0 for x in nums))/len(nums)

In [5]:
statistics = pd.DataFrame()

In [6]:
for i in range(len(labels)):
  group = df.loc[index[labels[i]]]
  out=group.apply(myfunction, axis=0)
  statistics[labels[i][0]]=out

In [7]:
statistics

   foo       bar
A  1.0  1.000000
B  1.0  1.000000
C  0.6  0.333333
D  0.8  0.333333

In [9]:
# The columns used by groupby are not included
res = df.groupby(['A','B']).agg(myfunction)
res

                C         D
A   B
bar one  0.333333  0.333333
foo one  0.600000  0.800000

In [10]:
res.columns

Index([u'C', u'D'], dtype='object')

In [87]:
res['C']

A    B
bar  one    0.0
foo  one    0.2
Name: C, dtype: float64

In [89]:
res.values

array([[ 0.        ,  0.66666667],
       [ 0.2       ,  0.4       ]])

In [49]:
def screen(comb):
   return sum([1 if x==-1 and y==-1 else 0 for x,y in zip(df[comb[0]]   df[comb[1]])])

str

In [73]:
xscat=[-1, -1.5,5]
yscat = xscat

[1, 0, 0]

In [39]:
combs

[('A', 'B'), ('A', 'C'), ('A', 'D'), ('B', 'C'), ('B', 'D'), ('C', 'D')]

In [40]:
df

     A    B         C         D
0  foo  one  0.842932  0.486773
1  bar  one -1.476770 -0.970453
2  foo  one -0.293268 -0.205533
3  bar  one  0.244637 -0.302167
4  foo  one  0.022827  0.460265
5  bar  one -1.376742  0.848897
6  foo  one -0.502866  1.367138
7  foo  one  0.687657  0.776009

In [67]:
map(screen,combs)

['fooone',
 'foo0.842931954943',
 'foo0.4867728703',
 'one0.842931954943',
 'one0.4867728703',
 '0.8429319549430.4867728703']