In [1]:
import pandas as pd
df=pd.DataFrame({'a':['1\n','2\n','3'],'b':['4\n','5','6\n']})

In [2]:
df

     a    b
0  1\n  4\n
1  2\n    5
2    3  6\n

In [3]:
df.replace({'\n':'<br>'},regex=True)

       a      b
0  1<br>  4<br>
1  2<br>      5
2      3  6<br>