In [10]:
# source: https://stackoverflow.com/questions/45576800/how-to-sort-dataframe-based-on-a-column-in-another-dataframe-in-pandas

In [1]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'Col1': ['a','b','c','d','e'], 'Col2': ['chocolate','chicken','pizza','icecream','cake'] })
df2 = pd.DataFrame({'Col1': ['f','g','h','i','j'], 'Col2': ['chicken','cake','icecream','chocolate','pizza'] })

In [4]:
df1

  Col1       Col2
0    a  chocolate
1    b    chicken
2    c      pizza
3    d   icecream
4    e       cake

In [5]:
df2

  Col1       Col2
0    f    chicken
1    g       cake
2    h   icecream
3    i  chocolate
4    j      pizza

In [ ]:
# the idea is to set the column as the index and then reorder by index.
# Post processing: reset_index, and reorder the columns

In [9]:
df1.set_index('Col2').loc[df2["Col2"]].reset_index().loc[:, df1.columns]

  Col1       Col2
0    b    chicken
1    e       cake
2    d   icecream
3    a  chocolate
4    c      pizza