In [1]:
import pandas as pd
import numpy as np

In [4]:
m, n = 6, 2
df = pd.DataFrame(np.random.randint(100,size=(m, n)))

In [5]:
zscore = lambda x: x.mean()/x.std()

In [6]:
df.rolling(3).apply(zscore)

/home/wxk/.conda/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

          0         1
0       NaN       NaN
1       NaN       NaN
2  1.915593  2.069590
3  1.343861  4.936908
4  1.469937  1.458358
5  1.162476  1.458358

In [9]:
np.mean(df.iloc[:3, ]) /np.std(df.iloc[:3, ])

0    1.915593
1    2.069590
dtype: float64

In [7]:
df

    0   1
0  59  18
1  33  72
2  14  47
3  98  49
4  42   1
5   0  47