In [1]:
import pandas as pd
import numpy as np

In [2]:
m, n = 6, 2
df = pd.DataFrame(np.random.randint(100,size=(m, n)))

In [3]:
zscore = lambda x: x.mean()/x.std()

In [5]:
df.rolling(3).apply(zscore, raw=True)

          0         1
0       NaN       NaN
1       NaN       NaN
2  2.375245  3.413734
3  2.398067  2.447921
4  2.438228  1.766603
5  3.530894  6.046235

In [9]:
np.mean(df.iloc[:3, ]) /np.std(df.iloc[:3, ])

0    1.915593
1    2.069590
dtype: float64

In [18]:
# calculate the maximum in a previous window excluding the current one.
def max_exclude_current(x):
    return max(x[:-1])

In [16]:
df

    0   1
0  59  18
1  33  72
2  14  47
3  98  49
4  42   1
5   0  47

In [17]:
df.rolling(3).apply(rolling_mean, raw=True)

/home/wxk/.conda/envs/tf/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Currently, 'apply' passes the values as ndarrays to the applied function. In the future, this will change to passing it as Series objects. You need to specify 'raw=True' to keep the current behaviour, and you can pass 'raw=False' to silence this warning
  """Entry point for launching an IPython kernel.

      0     1
0   NaN   NaN
1   NaN   NaN
2  59.0  72.0
3  33.0  72.0
4  98.0  49.0
5  98.0  49.0