In [1]:
import pandas as pd

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons'], 
        'company': ['1st', '1st', '1st', '1st', '1st', '2nd', '2nd'], 
        'preTestScore': [4, 24, 31, 3, 4, 24, 31],
        'postTestScore': [25, 94, 62, 70, 25, 94, 57]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company',  'preTestScore', 'postTestScore'])
df

     regiment company  preTestScore  postTestScore
0  Nighthawks     1st             4             25
1  Nighthawks     1st            24             94
2  Nighthawks     1st            31             62
3    Dragoons     1st             3             70
4    Dragoons     1st             4             25
5    Dragoons     2nd            24             94
6    Dragoons     2nd            31             57

In [5]:
def screen(x):
    if len(x)>3:
      return True
df.groupby("regiment")["preTestScore"].transform("sum")

0    59
1    59
2    59
3    62
4    62
5    62
6    62
dtype: int64

In [9]:
raw_data = {'first_name': ['Jason', 'Jason', 'Tina', 'Jake', 'Amy'],
        'last_name': ['Miller', 'Miller', 'Ali', 'Milner', 'Cooze'],
        'age': [42, 43, 36, 24, 73],
        'preTestScore': [4, 4, 31, 2, 3],
        'postTestScore': [25, 25, 57, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'preTestScore', 'postTestScore'])

In [10]:
df['Total'] = df.groupby("first_name")['age'].transform('max')

In [12]:
df.groupby("first_name")['age'].transform('max')

0    43
1    43
2    36
3    24
4    73
dtype: int64

In [13]:
df

  first_name last_name  age  preTestScore  postTestScore  Total
0      Jason    Miller   42             4             25     43
1      Jason    Miller   43             4             25     43
2       Tina       Ali   36            31             57     36
3       Jake    Milner   24             2             62     24
4        Amy     Cooze   73             3             70     73

In [ ]:
raw_data = {'word':['a','the','a','an','the'],
            'tag': ['S','S','T','T','T'],
            'count':[30,20,60,5,10]}
    
df = pd.DataFrame(raw_data, columns = ['word', 'tag',  'count', )