In [ ]:
整体而言，agg有更好的flexibility

1) .agg() gives the flexibility of applying multiple functions at once, or pass a list of function to each column.

2) Also, applying different functions at once to different columns of dataframe.

3) After aggreatation, only the aggregated column names show when you run res_agg.columns

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"name":["Foo", "Baar", "Foo", "Baar"], 
                   "score_1":[5,10,15,10], "score_2" :[10,15,10,25], 
                   "score_3" : [10,20,30,40]})

In [3]:
df

   name  score_1  score_2  score_3
0   Foo        5       10       10
1  Baar       10       15       20
2   Foo       15       10       30
3  Baar       10       25       40

In [4]:
import numpy as np

In [5]:
res_agg= df.groupby(["name", "score_1"]).agg({ "score_2":lambda x : x.mean()})
res_agg.columns

Index(['score_2'], dtype='object')

In [6]:
res_agg.to_csv("./Apply_and_agg.csv")

In [7]:
df.groupby(["name", "score_1"]).agg({"score_3" :[np.sum, np.min], "score_2":lambda x : x.mean()})

             score_3       score_2
                 sum amin <lambda>
name score_1
Baar 10           60   20       20
Foo  5            10   10       10
     15           30   30       10

In [8]:
df.groupby(["name", "score_1"]).agg({"score_3" :[np.sum, np.min], "score_2":lambda x : x.mean()}).reset_index()

   name score_1 score_3       score_2
                    sum amin <lambda>
0  Baar      10      60   20       20
1   Foo       5      10   10       10
2   Foo      15      30   30       10