In [73]:
# group a data.frame according to two columns ['A','B']
# Index each group: 
   index = df.groupby(['A','B']).groups
   labels=index.keys()
   db.loc[index[labels[0]]]
    
# group.apply(myfunction,axis=0) 
# axis=0 means apply to columns; axis=1 to rows
# store the analyis

IndentationError: unexpected indent (<ipython-input-73-273c7ccc8c15>, line 3)

In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                           'foo', 'bar', 'foo', 'foo'],
                    'B' : ['one', 'one', 'one', 'one',
                         'one', 'one', 'one', 'one'],
                'C' : ['1','2','3','','3','4','4','8'], 'D' : np.random.randn(8)})

In [2]:
df

     A    B  C         D
0  foo  one  1  0.053025
1  bar  one  2  0.169179
2  foo  one  3  0.128902
3  bar  one    -0.585625
4  foo  one  3  0.861338
5  bar  one  4 -0.058297
6  foo  one  4 -0.414352
7  foo  one  8  0.073900

In [36]:
index = df.groupby(['A','B']).groups
print index

{('foo', 'one'): [0, 2, 4, 6, 7], ('bar', 'one'): [1, 3, 5]}

In [37]:
labels = index.keys()

In [28]:
def myfunction(nums):
    return float(sum(x>0 for x in nums))/len(nums)

In [5]:
statistics = pd.DataFrame()

In [6]:
for i in range(len(labels)):
  group = df.loc[index[labels[i]]]
  out=group.apply(myfunction, axis=0)
  statistics[labels[i][0]]=out

In [7]:
statistics

   foo       bar
A  1.0  1.000000
B  1.0  1.000000
C  0.6  0.333333
D  0.8  0.333333

In [9]:
# The columns used by groupby are not included
res = df.groupby(['A','B']).agg(myfunction)
res

                C         D
A   B
bar one  0.333333  0.333333
foo one  0.600000  0.800000

In [87]:
res['C']

A    B
bar  one    0.0
foo  one    0.2
Name: C, dtype: float64

In [89]:
res.values

array([[ 0.        ,  0.66666667],
       [ 0.2       ,  0.4       ]])

In [33]:
import pandas as pd
db = pd.read_csv("/home/wxk/Ipython/Mutation/data/Stress.csv")
part = db.iloc[13:16,0:3]

In [34]:
part

    ID      PMID    label_col
13  12  21940899  Antibiotics
14  12  21940899  Antibiotics
15  13  22992527          NaN

In [ ]:
def Nullcheck(nums):

In [32]:
part.groupby('ID').agg('count')

    PMID  label_col
ID
12     2          2
13     1          0