In [5]:
import pandas as pd
df=pd.DataFrame({'aa':[0,10],'b-':[1,3],'cd':[2,5],'ad':[5,7]})

In [6]:
df

   aa  ad  b-  cd
0   0   5   1   2
1  10   7   3   5

In [7]:
columns = [c for c in df if c[0]=='a'] # select columns whose name start with a

In [8]:
df[columns]

   aa  ad
0   0   5
1  10   7

In [9]:
df.filter(regex=("a.*")) # The idea is to select columns by regex

   aa  ad
0   0   5
1  10   7

In [10]:
columns = [c for c in df if "-" in c] # select columns whose name has a "-"
df[columns]

   b-
0   1
1   3