In [29]:
import pandas as pd
df = pd.DataFrame([["A",1,3],["B",2,3],["C",5,6]],index=[0,1,2],columns=["c1","c2","c3"])

In [30]:
df

  c1  c2  c3
0  A   1   3
1  B   2   3
2  C   5   6

In [40]:
import pandas as pd
df2 = pd.DataFrame([["A",20],["C",30],["D",40]],index=[4,5,6],columns=["c1","c2"])

In [41]:
df2

  c1  c2
4  A  20
5  C  30
6  D  40

In [42]:
df[["c1","c2"]]

  c1  c2
0  A   1
1  B   2
2  C   5

In [43]:
pd.merge(df[["c1","c2"]],df2,on="c1",how='inner')

  c1  c2_x  c2_y
0  A     1    20
1  C     5    30

In [44]:
pd.merge(df[["c1","c2"]],df2,on="c1",how='left')

  c1  c2_x  c2_y
0  A     1  20.0
1  B     2   NaN
2  C     5  30.0

In [45]:
pd.merge(df[["c1","c2"]],df2,on="c1",how='outer')

  c1  c2_x  c2_y
0  A   1.0  20.0
1  B   2.0   NaN
2  C   5.0  30.0
3  D   NaN  40.0

In [ ]:
If the two columns have different name, you can use
pd.merge(df1,df2,left_on='ID1',right_on='ID2')