In [ ]:
# source: http://stackoverflow.com/questions/19818756/extract-row-with-maximum-value-in-a-group-pandas-dataframe

In [2]:
from pandas import DataFrame

In [4]:
>>> df = DataFrame({'Sp':['a','b','c','d','e','f'], 'Mt':['s1', 's1', 's2','s2','s2','s3'], 'Value':[1,2,3,4,5,6], 'count':[3,2,5,10,10,6]})
>>> df

>>> idx = df.groupby(['Mt'])['count'].transform(max) == df['count']

In [5]:
idx

0     True
1    False
2    False
3     True
4     True
5     True
dtype: bool

In [6]:
df[idx]

   Mt Sp  Value  count
0  s1  a      1      3
3  s2  d      4     10
4  s2  e      5     10
5  s3  f      6      6