In [ ]:
整体而言，agg有更好的flexibility

1) .agg() gives the flexibility of applying multiple functions at once, or pass a list of function to each column.

2) Also, applying different functions at once to different columns of dataframe.

In [2]:
import pandas as pd

In [5]:
df = pd.DataFrame({"name":["Foo", "Baar", "Foo", "Baar"], 
                   "score_1":[5,10,15,10], "score_2" :[10,15,10,25], 
                   "score_3" : [10,20,30,40]})

In [6]:
df

   name  score_1  score_2  score_3
0   Foo        5       10       10
1  Baar       10       15       20
2   Foo       15       10       30
3  Baar       10       25       40

In [7]:
import numpy as np

In [10]:
 df.groupby(["name", "score_1"]).agg({"score_3" :[np.sum, np.min], "score_2":lambda x : x.mean()})

              score_2 score_3
             <lambda>    amin
name score_1
Baar 10            20      20
Foo  5             10      10
     15            10      30