In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame([1,2,3], columns=['col'], index=['a','b','c'])
df2 = pd.DataFrame([4,5,6], columns=['col'], index=['b','c','d'])

In [2]:
df1

   col
a    1
b    2
c    3

In [3]:
df2

   col
b    4
c    5
d    6

In [5]:
df3 = pd.concat((df1, df2))
df3

   col
a    1
b    2
c    3
b    4
c    5
d    6

In [4]:

df3.groupby(df3.index).mean()

   col
a    1
b    3
c    4
d    6