In [ ]:
# df1.count()
count NAN cells for each column

In [11]:
import pandas as pd
df1 = pd.DataFrame([(1,2,None),(1,4,None),(2,None,7),(2,None,None)], 
                    columns=['a','b','d'], index = ['A', 'A','C','C'])

In [12]:
df1

   a    b    d
A  1  2.0  NaN
A  1  4.0  NaN
C  2  NaN  7.0
C  2  NaN  NaN

In [14]:
df1.count()

a    4
b    2
d    1
dtype: int64

In [13]:
df1.groupby('a').count()

   b  d
a
1  2  0
2  0  1

In [23]:
def myCount(nums):
    return sum([1 if isnull(x) else 0 for x in nums])

In [24]:
df1.groupby('a').agg('myCount')

AttributeError: 'DataFrameGroupBy' object has no attribute 'myCount'

In [16]:
mygroups=df1.groupby('a')
index=mygroups.groups.keys()

In [19]:
for mygroup in mygroups:
    print mygroup

(1,    a    b   d
A  1  2.0 NaN
A  1  4.0 NaN)
(2,    a   b    d
C  2 NaN  7.0
C  2 NaN  NaN)