In [36]:
import numpy as np
import pandas as pd


x = np.random.randn(3, 2)
df = pd.DataFrame(x,columns = ['A','B'],index= ['a','b','c'])

In [37]:
df['new'] = ['aa','bb','cc']
df

          A         B new
a  0.433385  1.509209  aa
b -0.985043 -1.021281  bb
c  1.080010 -1.271944  cc

In [38]:
df.set_index('new', inplace=True)

In [39]:
df.columns.values[1] = 'new_name'

In [43]:
df.ix['aa']

A           0.433385
new_name    1.509209
Name: aa, dtype: float64

In [31]:
df.columns = ['c1','c2','c3']

In [18]:
df.rename(columns ={1: 'col40'}, inplace =True)

In [33]:
df['c1']

a   -1.104767
b    1.159302
c   -1.758523
Name: c1, dtype: float64