In [1]:
import numpy as np
import pandas as pd

In [2]:
rng = np.random.RandomState(0)
df = pd.DataFrame({'key': ['A', 'B', 'A', 'A', 'B', 'C'],
                   'data1': range(6),
                   'data2': rng.randint(0, 10, 6)},
                   columns = ['key', 'data1', 'data2'])

In [4]:
df

  key  data1  data2
0   A      0      5
1   B      1      0
2   A      2      3
3   A      3      3
4   B      4      7
5   C      5      9

In [3]:
df.groupby('key').transform(lambda x: x - x.mean())

      data1     data2
0 -1.666667  1.333333
1 -1.500000 -3.500000
2  0.333333 -0.666667
3  1.333333 -0.666667
4  1.500000  3.500000
5  0.000000  0.000000