In [1]:
import io
import numpy as np
import pandas as pd

content = '''
     Number1 Event        Number2  Number3
0      20    clouds        30        404
1      22    lightening    32        404
2      23    playing       33        405
3      25    clouds        35        410
4      24    sleeping      34        407
5      26    lightening    36        410
6      21    rain          31        404
7      27    rain          37        410'''

df = pd.read_table(io.BytesIO(content), sep='\s+')

In [2]:
df

   Number1       Event  Number2  Number3
0       20      clouds       30      404
1       22  lightening       32      404
2       23     playing       33      405
3       25      clouds       35      410
4       24    sleeping       34      407
5       26  lightening       36      410
6       21        rain       31      404
7       27        rain       37      410