In [1]:
# You measured the predicted gene expression for each gene by three methods and the results were stored in 
# a long format, you want to separate the results by each method

In [11]:
import pandas as pd

5

In [12]:
df = pd.DataFrame({"method": ["EN","EN","MI","MI", "Ex", "Ex"],
                 "gene": ["rpoB", "agrB","rpoB", "agrB","rpoB", "agrB"],
                  "value": [1,     13,     10,    11,    12,     13]
                  })
df

  method  gene  value
0     EN  rpoB      1
1     EN  agrB     13
2     MI  rpoB     10
3     MI  agrB     11
4     Ex  rpoB     12
5     Ex  agrB     13

In [13]:
pd.pivot_table(df, values="value", index=["gene"],
              columns = "method").reset_index()

method  gene  EN  Ex  MI
0       agrB  13  13  11
1       rpoB   1  12  10