In [1]:
import pandas as pd

data1 = {"a":[1.,3.,5.,2.],
         "b":[4.,8.,3.,7.],
         "c":[5.,45.,67.,34]}
data2 = {"a":[4.],
         "b":[2.],
         "c":[11.]}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2) 

df1.div(df2.ix[0],axis='columns')

      a    b         c
0  0.25  2.0  0.454545
1  0.75  4.0  4.090909
2  1.25  1.5  6.090909
3  0.50  3.5  3.090909

In [7]:
df1.div([4.,2.,11.],axis='columns')

      a    b         c
0  0.25  2.0  0.454545
1  0.75  4.0  4.090909
2  1.25  1.5  6.090909
3  0.50  3.5  3.090909

In [10]:
df1

     a    b     c
0  1.0  4.0   5.0
1  3.0  8.0  45.0
2  5.0  3.0  67.0
3  2.0  7.0  34.0

In [9]:
df1.apply(lambda x: x/x.max(), axis=1)

          a         b    c
0  0.200000  0.800000  1.0
1  0.066667  0.177778  1.0
2  0.074627  0.044776  1.0
3  0.058824  0.205882  1.0

In [20]:
df.mul([1,2],axis=1)

     A     B
0  1.0   4.0
1  3.0   8.0
2  5.0  12.0

In [14]:
df

     A    B
0  1.0  2.0
1  3.0  4.0
2  5.0  6.0