The first structure we want to work with is called a Series. Like a basic list or numpy array,
the Series provides a way to enter data in list-form but extends the idea by allowing us 
to specify the index; this means we no longer are a slave to using 0,1,2,3,... 
for the index of our list, but may use nearly whatever 
we'd like (though 0,1,2,... will be the default if nothing else is specified). 
Let's try this out.

source:http://www.dyinglovegrape.com/data_analysis/part2/2da2.php

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data4 = Series(np.random.rand(20))

In [9]:
data4.index

RangeIndex(start=0, stop=20, step=1)

data4[data4 <= 0.75]

In [13]:
data2 = Series([8, 9, 11], index=["Joe", "Jane", "John"])
data2.index

Index([u'Joe', u'Jane', u'John'], dtype='object')

In [4]:
 data = {'name' : ['James', 'Jane', 'John', 'Jake','Audrey'],
    'sex' : ['M', 'F', 'M', 'M', 'F'], 
    'age':[16,17,18,20,15], 
    'height':[77, 56, 66, 61, 50]}

In [5]:
table = DataFrame(data, columns=['name', 'age', 'sex', 'height'])

In [8]:
 table[['name', 'age']]

     name  age
0   James   16
1    Jane   17
2    John   18
3    Jake   20
4  Audrey   15

In [14]:
list(table.columns)

['name', 'age', 'sex', 'height']