In [ ]:
# http://stackoverflow.com/questions/11285613/selecting-columns

In [12]:
import pandas as pd
import numpy as np
np.random.seed(5)
df = pd.DataFrame(np.random.randint(100, size=(7, 6)), 
                  columns=list('ABCDEF'), 
                  index=['R{}'.format(i) for i in range(7)])
df.head()

     A   B   C   D   E   F
R0  99  78  61  16  73   8
R1  62  27  30  80   7  76
R2  15  53  80  27  44  77
R3  75  65  47  30  84  86
R4  18   9  41  62   1  82

In [13]:
df[['B','D']]

     B   D
R0  78  16
R1  27  80
R2  53  27
R3  65  30
R4   9  62
R5  78  58
R6  36  27

In [ ]:
#注意用数字位置去slicing时，最后一个不包括 (integer positional access)

In [14]:
df.ix[:,0:2]

     A   B
R0  99  78
R1  62  27
R2  15  53
R3  75  65
R4  18   9
R5  16  78
R6   4  36

In [22]:
# 按列的位置还可以这样选
df[df.columns[0:2]]

     A   B
R0  99  78
R1  62  27
R2  15  53
R3  75  65
R4  18   9
R5  16  78
R6   4  36

In [ ]:
# 注意用column name去indexing时，最后一个是包括的

In [15]:
df.loc[:,"A":"C"]

     A   B   C
R0  99  78  61
R1  62  27  30
R2  15  53  80
R3  75  65  47
R4  18   9  41
R5  16  78   5
R6   4  36  51

In [ ]:
# Same works for selecting rows based on labels.

In [16]:
df.loc['R0':'R2',:]

     A   B   C   D   E   F
R0  99  78  61  16  73   8
R1  62  27  30  80   7  76
R2  15  53  80  27  44  77

In [ ]:
# .loc also accepts a boolean array 
比如下面slice column nam在list ['B','C','D']里面的列

In [17]:

df.loc[:, df.columns.isin(list('BCD'))]

     B   C   D
R0  78  61  16
R1  27  30  80
R2  53  80  27
R3  65  47  30
R4   9  41  62
R5  78   5  58
R6  36  51  27

In [ ]:
# 也可以这样选

In [21]:
columns = ['B', 'C','H']
df1 = pd.DataFrame(df, columns=columns)
df1

     B   C   H
R0  78  61 NaN
R1  27  30 NaN
R2  53  80 NaN
R3  65  47 NaN
R4   9  41 NaN
R5  78   5 NaN
R6  36  51 NaN