In [16]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10, 4), columns=list('ABCD'))
df["name"] = ["A","A","A","B","B","C","C","D","D","D"]
df

          A         B         C         D name
0  0.125695 -0.041888  0.513740 -1.549540    A
1  0.844699 -0.777836  0.896447  0.956701    A
2  1.571341 -1.869484 -0.821205 -1.164339    A
3  0.013995  0.288684  0.512003  1.243457    B
4  0.300527 -0.336183 -0.196948 -0.104226    B
5  1.285180 -1.751534  1.300438  0.357192    C
6  0.242243  0.689336 -0.484089 -0.854038    C
7  0.770669 -1.576481 -0.352335 -0.988985    D
8  0.240312  0.090391 -0.817494  1.151219    D
9  0.337195  0.172126 -0.063891 -0.421235    D

In [17]:
grouped = df.groupby('name')

In [20]:
df['A'].describe()

count    10.000000
mean      0.573186
std       0.524857
min       0.013995
25%       0.240795
50%       0.318861
75%       0.826191
max       1.571341
Name: A, dtype: float64

In [19]:
grouped['A'].describe()

name
A     count    3.000000
      mean     0.847245
      std      0.722826
      min      0.125695
      25%      0.485197
      50%      0.844699
      75%      1.208020
      max      1.571341
B     count    2.000000
      mean     0.157261
      std      0.202609
      min      0.013995
      25%      0.085628
      50%      0.157261
      75%      0.228894
      max      0.300527
C     count    2.000000
      mean     0.763712
      std      0.737468
      min      0.242243
      25%      0.502978
      50%      0.763712
      75%      1.024446
      max      1.285180
D     count    3.000000
      mean     0.449392
      std      0.282420
      min      0.240312
      25%      0.288754
      50%      0.337195
      75%      0.553932
      max      0.770669
Name: A, dtype: float64