In [ ]:
Explanaination:
    These are techniques to apply function to element, column or dataframe.

Map: It iterates over each element of a series. 
df[‘column1’].map(lambda x: 10+x), this will add 10 to each element of column1.
df[‘column2’].map(lambda x: ‘AV’+x), this will concatenate “AV“ at the beginning of each element of column2 (column format is string).

Apply: As the name suggests, applies a function along any axis of the DataFrame.
df[[‘column1’,’column2’]].apply(sum), it will returns the sum of all the values of column1 and column2.

ApplyMap: This helps to apply a function to each element of dataframe.
func = lambda x: x+2
df.applymap(func), it will add 2 to each element of dataframe (all columns of dataframe must be numeric type)

In [8]:
import pandas as pd
data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)

In [9]:
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [10]:
def addOne(v):
...:        v += 1
...:        return v

In [22]:
 df.apply(addOne, axis=0)

    A   B   C
0   8  11  14
1   9  12  15
2  10  13  16

Add one to each element of column A

In [24]:
df['A'] = df['A'].map(addOne)
df

    A   B   C
0  10  11  14
1  11  12  15
2  12  13  16

In [41]:

import pandas as pd

df = pd.DataFrame({'ID':['1','2','3'], 'col_1': [0,2,3], 'col_2':[1,4,5],'col_3':[6,7,8]})
mylist = ['a','b','c','d','e','f']
def f(x):    
   return x[1] + x[2]  
df.apply(f, axis=1) #p

0     7
1    11
2    13
dtype: int64